<!doctype html>

<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Login</title>
</head>

<body style="display: grid; place-items: center; height: 100vh; margin: 0;">
	<form id="form" action="/login" method="post">
		<div style="text-align: center;">Type in the password set up at deploy.</div>
		<br>
		Password: <input type="password" id="pass" name="pass" autofocus>
		<br><br>
		<input type="submit" value="Submit">
	</form>
</body>


</html>